bottle==0.12.25
click~=8.1.7
coverage==7.5.3
Faker~=25.2.0
faker-commerce~=1.0.4
graypy==2.1.0
pre-commit~=3.7.0
pytest==8.2.2
python-dotenv
qrcode~=7.4.2
selenium==4.21.0
SQLAlchemy~=2.0.30
typing_extensions~=4.11.0
waitress==3.0.0
